# Node modules
node_modules/

# Environment variables
.env

.DS_Store
npm-debug.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional: build/coverage
dist/
build/
coverage/
